/*
https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements

#ef233c  crvena
#414141  tamno siva
*/
@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');

:root {
    --crvena: #ef233c;
    --tamnoSiva: #414141;
    --transition: .2s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kaushan Script', cursive;
}

.btn {
    border-radius: 0 !important;
    padding: 10px 23px !important;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.podnaslov {
    text-transform: uppercase;
    color: var(--crvena);
    font-weight: 600;
    font-size: .9rem;
}

.col-\* {
    padding-right: 0px;
    padding-left: 0px;
}

/***header***/
header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    position: relative;
    top: 30px;
    padding: 0 30px !important;
}

.navbar-brand {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

.navbar-brand h3 {
    font-family: 'Source Sans Pro', cursive;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.8rem;
    transition: var(--transition);
}

.navbar-brand h3 span {
    color: var(--crvena);
}

.navbar-brand h3:hover {
    color: var(--crvena);
}

.navbar-brand p {
    position: relative;
    top: -5px;
    font-size: .9rem;
}

.nav-item .nav-link {
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 600;
    transition: var(--transition);
}

.nav-item .nav-link:hover {
    color: #ef233c !important;
}

/***mainHeader***/
.mainHeader {
    padding: 200px 0;
}


/**********
HOME
***********/
.brands .wrapper p:first-child,
.about .row .podnaslov {
    text-transform: uppercase;
    color: var(--crvena);
    font-weight: 600;
    font-size: .9rem;
}

.brands .wrapper h5,
.about h5 {
    font-size: 2rem;
    font-weight: 600;
}

.brands .wrapper p:first-child::after,
.about .row .podnaslov::after {
    content: "";
    display: block;
    background: var(--crvena);
    height: 2px;
    width: 90px;
}

.brands .wrapper p:last-child {
    font-size: 1rem;
}


/***about***/
.about .row .podnaslov::after {
    margin: 0 auto;
}

.about .wrapper i,
.about .wrapper a {
    color: var(--crvena);
}

.about .wrapper p:first-child {
    font-weight: 600;
}


/***team***/
.team .sadrzaj {
    background: rgb(243, 243, 243);
    min-height: 30vh;
}

.team .container {
    padding: 0;
}

/* .team .sadrzaj .slika {
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    height: 40vh;
}
 */
.team .sadrzaj:nth-child(2) .slika {
    background: url(img/people1.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    height: 30vh;
}

.team .sadrzaj:nth-child(3) .slika {
    background: url(img/people2.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    height: 30vh;
}

.team .sadrzaj:nth-child(4) .slika {
    background: url(img/people3.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    height: 30vh;
}

/* .team .sadrzaj,
.team .sadrzaj .col-6:first-child {
    padding: 0;
} */

.team h2 {
    font-size: 2.7rem;
}

.team h3 {
    color: var(--crvena);
    font-size: 1.2rem;
    font-weight: 600;
}

.team h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600
}

.team p {
    font-size: 1rem;
}

.team i {
    font-size: 1.5rem;
    color: var(--crvena);
}

.team .sadrzaj:nth-child(odd) .slika {
    order: 1;
}

.team .sadrzaj:nth-child(odd) .podaci {
    order: 2;
}

.team .sadrzaj:nth-child(odd) .podaci {
    text-align: right;
}

@media(min-width:767px) {
    .team .sadrzaj:nth-child(odd) .podaci {
        order: -1;
    }
}

/***out***/
.out {
    background: var(--crvena);
}

/***images***/
.images article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.images .col2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.images .col1,
.images .col2 {
    flex: 0 0 50%;
    padding: 0;
    height: 80vh;
}

@media(max-width:767px) {
    .images article {
        flex-wrap: wrap;
    }

    .images .col1,
    .images .col2 {
        flex: 0 0 100%;

    }
}

.images .col1,
.images .col2 div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.images .col1 {
    background: url(img/project1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.images .col2 div:nth-child(1) {
    background: url(img/project2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.images .col2 div:nth-child(2) {
    background: url(img/project3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.images .col2 div:nth-child(3) {
    background: url(img/project4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.images .col2 div:nth-child(4) {
    background: url(img/project5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.images .col2 {
    /* flex: 0 0 50%; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.images .col2 div {
    flex: 0 0 50%;
}

/***loadmore***/
.loadmore {
    background: var(--crvena);
}

.loadmore a:hover {
    transition: var(--transition);
}

.loadmore a:hover {
    text-decoration: none;
    opacity: .5;
}

/***statistics***/
.statistics .wrapper h2 {
    color: var(--crvena);
    font-size: 3.5rem;
    font-weight: 600;
}

.statistics .wrapper h4 {
    font-size: 1.3rem;
}

.statistics .wrapper p {
    font-size: .9rem;
}

/***plans***/
.plans .podnaslov {
    color: var(--tamnoSiva);
}

.plans p {
    font-size: .9rem;
}

/***ponuda***/
.ponuda i,
.ponuda sup {
    color: var(--crvena);
}

.ponuda .wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media(min-width:757px) {
    .ponuda .wrapper {
        text-align: center;
    }
}